<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33506779922-bqmnaeg6ovsb9tr60pegj39tuv1k1091.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33506779922-bqmnaeg6ovsb9tr60pegj39tuv1k1091</string>
	<key>API_KEY</key>
	<string>AIzaSyDVusr0yCKxuKnsR1C5y5yPa_tRmSIcWDo</string>
	<key>GCM_SENDER_ID</key>
	<string>33506779922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.application</string>
	<key>PROJECT_ID</key>
	<string>entrecom-f6c44</string>
	<key>STORAGE_BUCKET</key>
	<string>entrecom-f6c44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33506779922:ios:95c83899530404528c09cb</string>
</dict>
</plist>